.card{
    margin: 20px;
    padding: 20px;
    border-radius: 2.25rem !important;
    box-shadow: 10px 10px 10px #9bf00b;
    transition: all .5s ease;
}
.card img{
    border-radius: 20px;
}
.card:hover{
    transform: scale(1.05);
}
